/*--FOOTER--SECTION--*/
.footer{
    display: grid;
    grid-template-columns: 1fr 1fr;
    border-top: 3px solid #fff;

    height: 350px;
}
.footer__div-0{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
    background-color: #000;
    color: #fff;
}
.footer__div-2{
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    background-color: #000;
    color: #fff;
    height: 350px;
    
.footer__img{

}
.footer__h2{

}
.footer__link{

}
.footer__div-1{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    color: #fff;
    border-top: 3px solid #fff;
    width: 100%;
}