/*--HEADER--SECTION--*/
/*--NAVBAR--*/
.header__nav{
    background-color: #ffc400;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    border-bottom: 5px solid #fff;
    color: #fff;
    text-decoration: none;
}
.header__logo{
    height: 60px;
    width: 60px;
    margin-right: 70px;
}
.header__link{
    text-decoration: none;
    color: #fff;
}
.header__link:hover{
    border-bottom: 2px solid #fff ;
}
.header__aside-nav{
    display: flex;
    justify-content: space-evenly;
    margin-left: 50px;
}
.header__aside-logo{
    width: 65px;
    height: 50px;
}
.header__aside-phone{
    text-decoration: none;
    color: #fff;
    align-self: center;
}
/*--HIGTHLIGTHS--*/
.header__div{
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-size: cover;
    display:grid;
    grid-template-columns: 1fr 1fr;
    color: #fff;
    align-items: center;
    box-shadow: 
        inset 300px 0 200px -100px rgb(0, 0, 0),  
        inset -300px 0 200px -100px rgba(0, 0, 0, 0.969);
}
.header__aside{
    margin-left: 50px;
    }
h1, .header__sp{
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 20px;
    text-wrap: nowrap;
}
span{
    color: rgb(255, 196, 0);
}
.header__image{
    width: 90%;
    height: 90%;
}