/*--MAIN--*/
.main{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 30px;
}
/*--SECTIONS--*/
.main__section {
    text-align: center;
}
/*--SEC__0--SECTION--*/
.main__section.sec__0{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color:var(--third-color, #e3e1e1);
    color: var(--font-color-third, #000);
    padding: 50px;
}
.sec__0-h2, .sec__1-h2{
    font-size: 26px;
    align-self: self-end;
}
.sec__0-p, .sec__1-p{
    align-self: self-start;
}
/*--SEC__1--SECTION*/
.main__section.sec__1{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.sec__1-div{
    text-align: start;
}
.sec__1-img{
    width: 85%;
    height: 80%;
    padding: 10px;
}
.sec__1-bt{
    background-color: var(--primary-color, #ffc400);
    color:var(--font-color-primary, #fff);
    border-radius: 10px;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
}
/*--SEC__2--SECTION*/
.main__section.sec__2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    background-color:var(--third-color, #e3e1e1);
}
.sec__2-img{
    width: 85%;
    height: 80%;
    padding: 10px;
}
/*--SEC__3--SECTION--*/

/*--SEC__4--SECTION--*/
.sec__4{
    background-color:var(--third-color, #e3e1e1);
}