*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
/*--HEADER--SECTION--*/
.header__nav{
    background-color: rgb(255, 196, 0);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 5px solid #fff;
    color: #fff;
    text-decoration: none;
}
.header__logo{
    height: 60px;
    width: 60px;
    
}
.header__link{
    text-decoration: none;
    color: #fff;
}
.header__link:hover{
    border-bottom: 2px solid #fff ;
    
}
.header__aside-nav{
    display: flex;
    justify-content: space-evenly;
    width: 25%;

}
.header__aside-phone{
    text-decoration: none;
    color: #fff;

}
.header__div{
    background-image: url(../images/bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    color: #fff;
    align-items: center;
    box-shadow: 
        inset 300px 0 200px -100px rgb(0, 0, 0),  
        inset -300px 0 200px -100px rgba(0, 0, 0, 0.969);
}
.header__aside{
    margin-left: 50px;
    
    }
h1, span{
    font-size: 50px;
    font-weight: 800;
    font-style: italic;
    margin-bottom: 20px;
}
span{
    color: rgb(255, 196, 0);
}
.header__p{
    
}
.header__image{
    width: 60%;
}
/*--MAIN--SECTION--*/
.main{
    
}
.main__section {
    
    height: 250px;
}
/*--SEC__0--SECTION--*/
.sec__0{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(227, 225, 225);
    color: #000;
}
.sec__0-div0{
    font-size: 26px;
    justify-content: space-evenly;
    align-items: flex-end;
    display: flex;
    height: 50%;
    width: 100%;
    margin-right: 60px;
}
.sec__0-div1{
    font-size: 20px;
    justify-content: space-evenly;
    align-items: flex-start;
    display: flex;
    height: 50%;
    width: 100%;
    margin-left: 30px;
}
/*--SEC__1--SECTION*/
.sec__1, .sec__2, .sec__3{
    height: 350px;
}
.sec__1{
    
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-y: scroll;
    overflow-x: hidden;
}
.sec__1-div{
    width: 50%;
}
.sec__1-div-img{
    width: 50%;
}
.sec__1-img{
    width: 420px;
    height: 300px;
    padding: 25px;
}
/*--SEC__2--SECTION--*/
.sec__2{
    background-color: rgb(227, 225, 225);
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.sec__2-div1{
    display: flex;
    width: 50%;
    align-items: center;
    justify-content: center;
}
.sec__2-div2{
    width: 50%;
    
}
.sec__2-img{
    width: 420px;
    height: 300px;
    padding: 25px;
}

/*--SEC__3--SECTION--*/

/*--SEC__4--SECTION--*/
.sec__4{
    background-color: rgb(227, 225, 225);
}