*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
}
/*--HEADER--SECTION--*/
.header{
    background-color: #000;

}
.header__nav{
    background-color: rgb(255, 196, 0);
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 5px solid #fff;
    color: #fff;
}
.header__logo{
    height: 60px;
    width: 60px;
    
}
.header__link{

}
.header__aside-nav{

}
.header__aside-logo{

}
.header__aside-phone{

}
.header__div{
    display: flex;
    color: #fff;
    align-items: center;
}
.header__aside{
    }
h1 span{
    font-weight: 800;
    font-style: italic;
}
span{
    color: rgb(255, 196, 0);
}
.header__p{
    
}
.header__image{
    width: 60%;
}
/*--MAIN--SECTION--*/